@layer base {
  .dark {
    /* SIDEBAR */
    --sidebar-background: 221 62% 4%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 217 88% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 221 38% 11%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 221 32% 14%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
